body {
  @apply font-sans antialiased;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  @apply
    p-0
    mb-6
		leading-tight
		font-bold;
}

h1 {
	@apply text-3xl;

  @screen md {
    @apply text-4xl;
  }
}

h2 {
  @apply text-2xl;

  @screen md {
	  @apply text-3xl;
  }
}

.page-title {
  @apply text-3xl;

  @screen md {
    @apply text-4xl;
  }
  
  @screen lg {
    @apply text-5xl;
  }
}

.page-title--large {
  @apply text-4xl;

  @screen md {
    @apply text-5xl;
  }
  
  @screen lg {
    @apply text-6xl;
  }
}

/* Link */
.link {
  @apply text-black underline;

  &:hover, &:focus {
    @apply text-black;
  }

  &.is--active {
    @apply text-primary;
  }
}

.arrow {
  @apply absolute top-0 left-0 max-w-tiny z-10;
  margin-top: 10%;
  margin-left: 10%;

  @screen md {
    @apply mt-12 ml-12;
  }
}

.coming-soon {
  @apply absolute bottom-0 right-0 max-w-sm z-10 bg-tertiary text-white uppercase rounded-full flex flex-wrap items-center justify-center w-24 h-24 text-center text-sm;
  margin-bottom: 7%;
  margin-right: 7%;
  transform: rotate(12deg);

  @screen md {
    @apply mb-6 mr-6 w-32 h-32 text-base;
  }
}

.btn {
  @apply bg-primary text-white rounded p-4 cursor-pointer no-underline uppercase text-base;

  &:hover, &:focus {
    @apply bg-black;
  }
  
  &.is--active {
    @apply bg-black;
  }
}

.btn--small {
  @apply p-3;
}

/* Content */
.content {
  /* Paragraph */
  p {
    @apply mb-5 leading-relaxed;

    &:first-of-type {
      @apply text-lg;
    }

    @screen md {
      @apply mb-8;
    }
  }

  /* Headings following paragraphs */
  p + h1, p + h2, p + h3, p + h4 {
    @apply pt-8 block;
  }

  a {
    @apply underline;
  }
}