/* Local Fonts */
@import './partials/_fonts.css';

/* Minor resets */
@import './partials/_base.css';

/* Tailwind Base + Components */
@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Custom Partials */
@import './partials/_container.css';
@import './partials/_typography.css';

/* Tailwind Utils */
@import 'tailwindcss/utilities';

.fill-screen {
  min-height: calc(100vh - theme('spacing.20'));

  @screen md {
    min-height: calc(100vh - theme('spacing.24'));
  }
}

.phone { 
  margin-bottom: -20vw;

  @screen lg {
    margin-bottom: -22vw;
  }

  @screen xl {
    margin-bottom: -18vw;
  }
}

form, .form-input, .form-select, select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}